.header {
    text-align: center;
    color: #52bab3;    
}

#container {
    width: 100%;
    max-width: 90%;     
    margin: 0 auto;
    padding: 20px;
}

.photo {
    border-radius: 25px;
    padding: 20px;  
}